.card-container {
  flex: 1 0 auto;
  align-self: center;
  max-width: 1280px;
  width: 100%;
  padding: 5vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  transition: 0.5s flex ease-in-out;
}

.card-container:empty {
  flex: 0 0 0;
  padding: 0;
}