.main {
    background: #FD7272;
    min-height: 50vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    padding: 5vw;
}

.p {
    color: #fff;
    text-align: center;
    transition: 0.25s opacity;
}

.hidden {
    opacity: 0;
}

.link {
    color: #485460;
    text-decoration: none;
}