.card {
  background: #fff;
  flex: 0 0 50%;
  flex-basis: calc(50% - 20px);
  max-width: 200px;
  margin: 10px;
  border-radius: 7px;
  padding: 20px;
}
.link {
    text-decoration: none;
    word-wrap: break-word;
    color: #ffa801;
}
.title {
    font-style: italic;
}
.value {
    font-weight: bold;
}
.category {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
}