* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #485460;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.app {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
}